    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
			     <div class="index-content">
			      	<ul class="artical-list">
				        {% for post in site.categories.blog %}
					        <li>
						          <a href="{{ post.url }}" class="title">{{ post.title }}</a>
						          <div class="title-desc">{{ post.description }}</div>
					        </li>
				        {% endfor %}
			     		</ul>
			     </div>
        </div>
    </section>